<html >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}ShortCut{% endblock title %}</title>
<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="head-container">
	<div id="header">
		<h1>
			<a href="/"><img src="{{STATIC_URL}}images/ShortCut.png"></a>
		</h1>
		<img class="logo" src="{{STATIC_URL}}images/logoSC.png">
	</div>
</div>
<div id="content-container">
	<div id="content-container2">
		<div id="content-container3">
			<div id="content">
				<h2>
					Bienvenido a ShortCut.
				</h2>
				<p>
					Comparte tus experiencias en pocas palabras, encuentra a tus amigos para descubrir qué hacen ellos, sé el primero en enterarte de las noticias en el mundo o simplemente busca información actualizada sobre las cosas que te interesan.	
				</p>
			</div>
			<div id="aside">
				<p>
					<form action="/login" method="post">{% csrf_token %}
						{% for field in auth_form %}
						{{ field }}
						{% endfor %}
					<input type="submit" id="btnLogIn" value="Login">
					</form>
				</p>
				<h1>New to ShortCut?</h1>
				<p>
					<form action="/user/new" method="post">{% csrf_token %}
						{% for field in user_form %}
						{{ field }}
						{% endfor %}
					<input type="submit" id="btnLogIn" value="Register">
					</form>
				</p>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			© 2015 <a href="http://www.uco.es">UCO</a> | Design by Luis Flores Méndez.
		</div>
	</div>
</div>
</body>
</html>
