{% extends "base.html" %}

{%block jumbotron%}
	<div class="jumbotron">
		<h1 class="text-center">¿Cómo jugar?</h1>
		<p class="text-center">1-<small><em>Entramos con nuestro usuario o creamos uno si no hemos entrado nunca.</em></small></p>
		<p class="text-center">2-<small><em>Creamos nuestro liga de ensueño, con los equipos que queramos.</em></small></p>
		<p class="text-center">3-<small><em>Creamos nuestra plantilla ideal.</em></small></p>
	  	<p class="text-center">4-<small><em>Creamos la jornada. Para ello elegiremos tanto los equipos locales, como los visitantes, además del resultado de ese partido. <small>Repetiremos este paso hasta que no queramos más partidos</small></em></small></p>
	  	<p class="text-center">5-<small><em>Nos vamos al apartado de resultados y pinchamos en "Ver clasificación"</em></small></p>
	  	<p class="text-center">6-<small><em>Repetir y ver cómo quedaría una clasificación de ensueño siendo tu equipo favorito, u otros, el líder de la tabla</em></small></p>

	</div>
{%endblock%}

{% block footer%}
© 2016 <a href="http://www.uco.es">UCO</a> | Design by Juan Jose Mendez Torrero.
{% endblock %}