{% extends "base.html" %}

{%block instrucciones%}
	<div class="jumbotron">
		<h1 class="text-center">¿Cómo jugar?</h1>
		<p class="text-center">1-<small><em>Entramos con nuestro usuario o creamos uno si no hemos entrado nunca.</em></small></p>
		<p class="text-center">2-<small><em>Hechamos un vistazo a los equipos para ver sus jugadores y crear nuevos si hace falta.</em></small></p>
		<p class="text-center">3-<small><em>Creamos tantos partidos como se quieran. <small><ins>Nota:</ins> Pulsar F5 para crear más partidos</small></em></small></p>
	  	<p class="text-center">4-<small><em>Una vez creados todos los partidos, nos vamos al apartado de resultados. Una vez ahí podremos ver un listado con todos los partidos jugados hasta ahora <small><ins>No olvidar pulsar el boton "Ver Clasificacion"</ins></small></em></small></p>
	  	<p class="text-center">5-<small><em>Si lo que queremos es ver un mercado, podemos verlo entrando en el apartado "Mercado", una vez ahí podemos comprar un jugador aleatorio para que este cambie de equipo.</em></small></p>
	  	<p class="text-center">6-<small><em>Repetir pasos y disfrutar de una liga en la que nunca se puede saber qué va a pasar.</em></small></p>

	</div>
{%endblock%}

{% block footer%}
© 2016 <a href="http://www.uco.es">UCO</a> | Design by Juan Jose Mendez Torrero.
{% endblock %}